<a href="{% url 'home' %}">Home</a>

<!DOCTYPE HTML>
<html>
    <head>
        {% load static%}
        <link href="{% static 'core/css/drag.css'%}" rel="stylesheet">
        <script src="{% static 'core/js/interact.min.js'%}"></script>
        <script src="{% static 'core/js/drag.js'%}"></script>
    </head>
    <body>
      <div id="drag-1" class="draggable">
        <p> You can drag one element </p>
      </div>
      <div id="drag-2" class="draggable">
        <p> with each pointer </p>
      </div>
    </body>
</html>
